.page {
  margin: 0;
  padding: 70px 0 0 0;
  position: relative;
  font-family: $deafult-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  width: 100%;
}

@media (min-width: $tablet) {
  .page {
    padding: 84px 0 0 0;
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: $desktop) {
  .page {
    padding: 0;
  }
}
