$tablet: 760px;
$desktop: 1440px;

$deafult-font: 'Roboto', 'Arial', sans-serif;

$black:  #000;
$white:  #FFF;
$red:    #DF2626;
$yellow: #FFCE00;

$primary:         $black;
$primary-inverse: $white;
