.composition-text {
  margin: 0;
  padding: 0;
  max-width: 400px;
}

@media (min-width: $tablet) {
  .composition-text {
    width: 400px;
  }
}

@media (min-width: $desktop) {
  .composition-text {
    padding-top: 50px;
    grid-area: text;
  }
}
