.header {
  padding: 20px;
  min-width: 320px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #DF2626;
}

@media (min-width: $tablet) {
  .header {
    padding: 24px 30px;
    height: 84px;
  }
}

@media (min-width: 1220px) {
  .header {
    padding: 22px 50px;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
