.popup_type_tablet {
  display: none;
}

@media (min-width: 760px) {
  .popup_type_tablet {
    padding: 30px 40px;
    height: 84px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1220px) {
  .popup_type_tablet {
    display: none;
  }
}
