.section__main-title {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 47px;
  line-height: 56px;
  color: #000000;
}

@media (min-width: 760px) {
  .section__main-title {
    font-size: 100px;
    line-height: 110px;
  }
}
