.arrow-form {
  background-image: url(../images/arrow-form.svg);
  background-size: cover;
  display: none;
}

@media (min-width: $desktop) {
  .arrow-form {
    display: block;
    align-self: end;
    width: 129px;
    height: 95px;
    grid-area: arrow;
  }
}
