.header_type_desktop {
  display: none;
}

@media (min-width: 1220px) {
  .header_type_desktop {
    padding: 22px 50px;
    height: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
