.menu-links__item {
  margin: 12px 0 0 0;
  padding: 0;
  display: block;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FBFBFB;
  text-decoration: none;
}

.menu-links__item:hover {
  font-weight: 700;
}

@media (min-width: 760px) {
  .menu-links__item {
    margin: 0 40px 0 0;
  }
}

@media (min-width: 1220px) {
  .menu-links__item {
    margin: 0 0 0 40px;
    padding-top: 8px;
    text-align: right;
  }
}
