.section__subtitle {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
}

@media (min-width: 760px) {
  .section__subtitle {
    width: 404px;
    font-size: 64px;
    line-height: 64px;
  }
}

@media (min-width: 1440px) {
  .section__subtitle {
    grid-area: subtitle;
  }
}
